<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-init-method="init" default-destroy-method="destroy">

    <bean id="person" class="com.papillon.dc.beans.Person"
          scope="prototype" init-method="onCreate" destroy-method="onDestroy">
        <constructor-arg name="id" value="777"></constructor-arg>
        <constructor-arg name="name" value="Mary"></constructor-arg>
        <property name="taxId" value="123"></property>
        <property name="address" ref="address"></property>
    </bean>

    <bean id="address" class="com.papillon.dc.beans.Address">
        <constructor-arg name="street" value="7702 Mccallum blvd"></constructor-arg>
        <constructor-arg name="postcode" value="75252"></constructor-arg>
        <!--<property name="taxId" value="123"></property>-->
    </bean>


</beans>