<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-init-method="init" default-destroy-method="destroy">

    <bean id="person" class="com.papillon.dc.beans.Person"
          scope="prototype" init-method="onCreate" destroy-method="onDestroy">
        <constructor-arg name="id" value="777"></constructor-arg>
        <constructor-arg name="name" value="Mary"></constructor-arg>
        <property name="taxId" value="123"></property>
        <property name="address" ref="address"></property>
    </bean>

    <bean id="address" class="com.papillon.dc.beans.Address">
        <constructor-arg name="street" value="7702 Mccallum blvd"></constructor-arg>
        <constructor-arg name="postcode" value="75252"></constructor-arg>
        <!--<property name="taxId" value="123"></property>-->
    </bean>

    <bean id="address2" class="com.papillon.dc.beans.Address" p:street="123 cod lane" p:postcode="12345">
    </bean>

    <bean id="fruitbasket" class="com.papillon.dc.beans.FruitBasket">
        <constructor-arg name="name" value="debas basket"></constructor-arg>
        <constructor-arg name="fruits">
            <list>
                <value>apple</value>
                <value>orange</value>
                <value>banana</value>
                <value>peach</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="jungle" class="com.papillon.dc.beans.Jungle">
        <!--<property name="largest" ref="elephant"></property>-->
        <property name="largest">
            <bean class="com.papillon.dc.beans.Animal">
                <property name="name" value="rick"></property>
                <property name="type" value="elephant"></property>
            </bean>
        </property>
        <property name="animals">
            <list>
                <ref bean="lion"></ref>
                <ref bean="elephant"></ref>
                <ref bean="monkey"></ref>
            </list>
        </property>
    </bean>

    <bean id="lion" class="com.papillon.dc.beans.Animal">
        <property name="name" value="igor"></property>
        <property name="type" value="lion"></property>
    </bean>

    <bean id="elephant" class="com.papillon.dc.beans.Animal">
        <property name="name" value="rick"></property>
        <property name="type" value="elephant"></property>
    </bean>

    <bean id="monkey" class="com.papillon.dc.beans.Animal">
        <property name="name" value="bob"></property>
        <property name="type" value="monkey"></property>
    </bean>


</beans>